body{
    background: rgba(174,135,47, .15);
}

.banner {
    width: 100%;
    position: relative;
    text-align: center;
}

.bannerImg{
    height: 200px;
    width: 100%;
}

.bannerTitulo{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ae872f;
    transform: translate(-50%, -50%);
    text-shadow: 0 3px 3px rgb(68, 58, 0);
    font-family: 'Public Sans', sans-serif;
    font-size: 3rem;
    background: none;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingresar{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.textoIngresado{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 10px;
    background: rgba(174,135,47, .01);
    padding: 1rem;
}::placeholder { 
                color: #7e6221; 
                font-size: 20px; 
                font-family: 'Public Sans', sans-serif;}

.textoIngresado:focus {
    outline: none;
    background: rgba(70, 57, 17, 0.1);
  }

.llave{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.botones{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.resultado{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoEntregado{
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(174,135,47, .01);
    padding: 1rem;
}

.textoEntregado:focus{
    outline: none;
    background: rgba(70, 57, 17, 0.1);
}